/* SETTINGS */
$font-stack: Verdana, Helvetica, sans-serif;
$primary-color: #585858;
$secondary-color: #00684e;
$tertiary-color: #69BE28;

$basic-font-size: 11px;

// mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }

// Standards
a:link {color:$tertiary-color; font-weight: normal; text-decoration: none;}
a:visited {color:$tertiary-color; font-weight: normal; text-decoration: none;}
a:hover {color:$tertiary-color; text-decoration: underline; font-weight: normal; }
a:active {color:$tertiary-color; font-weight: normal; text-decoration: none;}

.separator {border-color: $tertiary-color; border-style: solid;}
.separator-horizontal{ @extend .separator; width: 100%; border-bottom-width: 1px; }
.separator-vertikal{ @extend .separator; border-right-width: 1px; height: 100%; }

h1 {
    color: $secondary-color;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 0px;
}

h3 {
    color: $secondary-color;
    font-size: $basic-font-size;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 0px;
}

p {
    font-size: $basic-font-size;
    letter-spacing: 0px;
    margin-bottom: 1.25rem;
}

// Colors
.second-color { color: $secondary-color; }
.third-color { color: $tertiary-color; }

// Font sizes
.font11 { font-size: 11px; }
.font12 { font-size: 12px; }
.font13 { font-size: 13px; }

div, span { font-size: $basic-font-size; }

// Body
body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    font: 100% $font-stack;
    color: $primary-color;
}

.page {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 15px;
    background-color: rgba(255,255,255,0.98);
    border: 1px solid rgba(0,0,0,0.3);
}

.content { padding: 20px; }

.page-title { @extend h1; }

// Header
header > .row { margin: 0px; }
header img.header-logo {
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

// Disclaimer
.underlined { @extend .separator-horizontal; }

// Filters
.inner-filters {
    .province {
        label {
            display: inline-block;
            font-weight: normal;
        }

        input {
            margin-bottom: 0px;
        }
    }

    .one-half.column {
        padding: 0px;
    }
}

// Footer
footer {
    ul {
        list-style: none;
        padding-top: 12px;
        padding-left: 5px;
        color: $primary-color;
        font-size: $basic-font-size;
    }

    ul{
        li {
            display: inline-block;
            border-right: 1px solid $secondary-color;
            padding: 0px 12px;
            line-height: 15px;
        }

        li:last-child { border-right: 0px; }

        li {
            a:link {color:$secondary-color; font-weight: normal; text-decoration: none;}
            a:visited {color:$secondary-color; font-weight: normal; text-decoration: none;}
            a:hover {color:$secondary-color; text-decoration: underline; font-weight: normal; }
            a:active {color:$secondary-color; font-weight: normal; text-decoration: none;}
        }
    }

    .footer-logo {
        margin-top: 15px;
    }
}
